@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

body {
    background: radial-gradient(
        circle at 7.5% 24%,
        rgb(237, 161, 193) 0%,
        rgb(250, 178, 172) 25.5%,
        rgb(190, 228, 210) 62.3%,
        rgb(215, 248, 247) 93.8%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

h1 {
    color: #191414;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

li {
    list-style: none;
    color: rgb(135, 135, 135);
    display: block;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
}

li::first-letter {
    text-transform: capitalize;
}

input[type="submit"] {
    background-color: rgb(215, 248, 247);
    color: #000;
    border: none;
    transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
    background-color: rgb(63, 108, 106);
}

.weather-data li {
    text-align: right;
}

.weather-app {
    border: none;
    max-width: 600px;
    border-radius: 15px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.weather-temperature img {
    margin-right: 20px;
    height: 90px;
    width: 90px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -35px;
}

.weather-temperature .units a {
    text-decoration: none !important;
}

.weather-temperature .active {
    color: #191414;
    font-weight: bold;
}

.weather-forecast {
    margin-top: 15px;
    text-align: center;
    color: #141919;
}

.weather-forecast-date {
    font-size: 16px;
    padding: 10px;
}

.weather-forecast-temperatures{
    font-size: 13px;
}

.weather-high-temp{
    opacity: 0.8;
}
.weather-low-temp{
    opacity: 0.5;

}